<button class="showDetailsBtn">+</button>
<div class="cardDetails hidden">
    <p><strong>Database name:</strong> <%= file.uniqueName %></p>
    <p><strong>Upload date:</strong> <%= formatDate(file.uploadedAt) %></p>
    <p><strong>Size:</strong> <%= (file.size / 1024).toFixed(2) %>KB</p>
    <div>
        <form action="/delete/file/<%= file.id %>" method="POST" class="invisibleForm">
            <button class="deleteBtn" type="submit">✖ Delete</button>
        </form>
        <a href="/download/<%= file.uniqueName %>" download><button class="downloadBtn">↓ Download</button></a>
    </div>
</div>