<!DOCTYPE html>
<html lang="en">
	<%- include('partials/head', {title: 'FileUploader'}) %>
	<body>
		<%- include('partials/nav') %>
		<main>
			<% if(isAuthenticated) { %>
			<h1>Welcome, <%= user.username %></h1>
			<div class="upload">
				<button id="addFolderButton">Add folder</button>
				<button id="uploadFileButton">Upload file</button>
				<!-- UPLOAD FORM -->
				<form id="uploadFileForm" class="hidden" action="/upload" method="POST" enctype="multipart/form-data">
					<label for="file">File: </label>
					<input type="file" name="file" required/>
					<label for="folder">Folder: </label>
					<select name="folder" required>
						<% if(folders && folders.length > 0) { %>
							<% folders.forEach(folder => { %>
								<option value="<%= folder.id %>"><%= folder.name %></option>
							<% })%>
						<% } %>
						<option value="null">No folder</option>
					</select>
					<button type="submit">Upload</button>
					<button type="button" id="uploadFileFormCancel">Cancel</button>
				</form>

				<!-- ADD FOLDER FORM -->
				<form id="addFolderForm" class="hidden" action="/addfolder" method="POST">
					<label for="folderName">Folder name: </label>
					<input 
						type="text" 
						name="folderName" 
						pattern = "^[a-zA-Z0-9]+(?: [a-zA-Z0-9]+)*$"
						title="Special characters are not allowed. Spaces are only allowed in between words."
						placeholder="Enter folder name..."
						required 
					/>
					<button type="submit">Add folder</button>
					<button type="button" id="addFolderFormCancel">Cancel</button>
				</form>
				<div class="formErrors">
					
				</div>
			</div>
			<div class="files">
				<h2>Your files</h2>
				<% if((!files || files.length < 1) && (!folders || folders.length < 1)) { %>
					<p>This is empty...</p>
				<% } else { %>
					<ul>
						<% folders.forEach(folder => { %>
							<li>Folder: <%= folder.name %></li>
						<% }) %>
					</ul>
					<ul>
						<% files.forEach(file => { %>
							<a href="<%= file.path %>"><li>File: <%= file.name %></li></a>
						<% }) %>
					</ul>
				<% } %>
			</div>
			<% } else { %>
			<h1>Login to upload files</h1>
			<% } %>
		</main>

		<script>
			const uploadButton = document.getElementById('uploadFileButton');
			uploadButton.addEventListener('click', () => {
				document.getElementById('uploadFileForm').classList.toggle('hidden');
				document.getElementById('uploadFileButton').classList.toggle('hidden');
				document.getElementById('addFolderButton').classList.toggle('hidden');
			});

			const uploadFileFormCancel = document.getElementById('uploadFileFormCancel');
			uploadFileFormCancel.addEventListener('click', ()=>{
				document.getElementById('uploadFileForm').classList.toggle('hidden');
				document.getElementById('uploadFileButton').classList.toggle('hidden');
				document.getElementById('addFolderButton').classList.toggle('hidden');
			});

			const addFolderButton = document.getElementById('addFolderButton');
			addFolderButton.addEventListener('click', ()=>{
				document.getElementById('addFolderForm').classList.toggle('hidden');
				document.getElementById('addFolderButton').classList.toggle('hidden');
				document.getElementById('uploadFileButton').classList.toggle('hidden');
			});

			const addFolderFormCancel = document.getElementById('addFolderFormCancel');
			addFolderFormCancel.addEventListener('click', ()=> {
				document.getElementById('addFolderForm').classList.toggle('hidden');
				document.getElementById('uploadFileButton').classList.toggle('hidden');
				document.getElementById('addFolderButton').classList.toggle('hidden');
			});

		</script>
	</body>
</html>
